*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
.wrap{
    width: 100%;
    height: 100vh;
    padding: 40px;
    color: #333;

    .titleAndThemeCon{
        width: 100%;
        display: flex;
        justify-content: space-between;
        h1{
            font-size: 36px;
            font-weight: 600;
        }
        .theme{
            width: 65px;
            height: 35px;
            background-color: #393E46;
            border-radius: 20px;
            cursor: pointer;
            .theme_circle{
                width: 35px;
                height: 35px;
                background-color: #fff;
                border-radius: 50%;
                border: 3px solid #393E46;
            }
        }
    }

    .currentWeek{
        display: flex;
        align-items: center;
        margin-top: 13px;
        .currentWeek_weekDate{
            font-size: 20px;
            font-weight: 400;
            margin: 0 15px;
        }
        .currentWeek_arrow{
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
        #currentWeek_arrowRight{
            transform: rotate(180deg);        
        }
    }

}